<!DOCTYPE html>
<html>
	<head>
		<title>404 Not Found</title>
		    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
	</head>
	<body>
		<% include menu %>
		<h1>404 Not Found</h1>
		<p>Sorry we can't find that!</p>
	</body>
</html>