<!DOCTYPE html>
<html>
	<head>
		<title><%= status %> <%= msg %></title>
		    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
	</head>
	<body>
		<% include menu %>
		<h1><%= status %>Error<h1>
		<p><%= msg %></p>
		<p>
			Try refreshing the page, if this problem persists then we're already working on it!
		</p>
	</body>
</html>