<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
	</head>
	<body>
		<% include menu %>
		<% entries.forEach(function(entry) { %>
			<div class='entry'>
				<h3><%= entry.title %></h3>
				<p><%= entry.body %></p>
				<p>Posted by  <%= entry.username %></p>
			</div>
		<% }) %>

		<% include pager %>
	</body>
</html>